body {
  background-image: url(../img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*mobile*/
@media (min-width: 600px) {
  body {
    background: url(../img/img.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .titlebox .text {
    text-align: center;
  }

  #lista #target #des {
    display: flex;
    justify-content: center;
  }
}

/*title page*/
.titlebox {
  text-align: center;
  background-color: coral;
  border-radius: 30px 30px 30px 30px;
  margin-left: 300px;
  margin-right: 300px;
  border: solid 2px green;
}

.title {
  color: green;
}

/*textbox*/
.text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.textbox {
  width: 500px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  border: solid 2px green;
}

.button {
  border-radius: 5px 5px 5px 5px;
  color: coral;
  background-color: green;
  width: 80px;
  height: 30px;
  border: solid 2px coral;
}

/* book list */
#lista {
  border-collapse: collapse;
  color: white;
  background: linear-gradient(green, rgb(147, 248, 147));
  border: solid 2px coral;
}

#lista tr:hover {
  background-color: coral;
  cursor: pointer;
}

#target {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/*book description*/
#des {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 30px;
  background: linear-gradient(green, rgb(147, 248, 147));
  visibility: hidden;
  border: solid 2px coral;
}

/*footer*/
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}
.copy {
  text-align: center;
}
